html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: rgba(32, 32, 32, 1); /* = g2l.graphics.colors.DEFAULT_BACKGROUND */
    overflow: hidden;
}

.text {
    position: absolute;
    left: 10px;
    top: 10px;
    margin: 0px;
    padding: 10px;
    border: 0px;
    background-color: transparent; /*rgba(83, 71, 65, 0.5);*/
    border-radius: 10px;
    z-index: 3;
    font-family: 'Consolas';
    font-weight: bold;
    font-style: italic;
    font-size: medium;
    color: rgba(155, 134, 156, 1); /*#9B869C*/
    letter-spacing: 1px;
    pointer-events: none;

    user-select:           none; /* Non-prefixed version, currently supported by Chrome and Opera */
    -moz-user-select:      none; /* Firefox */
    -webkit-user-select:   none; /* Safari */
    -webkit-touch-callout: none; /* iOS Safari */
    -ms-user-select:       none; /* Internet Explorer/Edge */
    -khtml-user-select:    none; /* Konqueror HTML */
}

.title {
    margin-bottom: 5px;
    font-size: x-large;
    color: rgba(255, 152, 0, 1); /*#FF9800;*/
}

.fps {
    margin-bottom: 15px;
    font-size: large;
    color: rgba(224, 224, 224, 1);
}

.clickable {
    pointer-events: auto;
    cursor: pointer;
}
